<form action="/" method="post" enctype="multipart/form-data">
    <div class="container py-4">
        <h1>Read CSV</h1>
        <label for="file">Choose file to read</label>
        <input type="file" class="form-control" name="file" id="file" />
        <button class="btn btn-primary mt-2" id="submitFile">Read</button>
        <div class="mt-2" id="csvTable"></div>
    </div>
</form>